{
  "presets": [["@babel/preset-env", { "shippedProposals": true }]],
  "plugins": [
    // Stage 1
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-partial-application",
    ["@babel/plugin-proposal-record-and-tuple", { "syntaxType": "hash" }],
    // Stage 2
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    // Stage 3
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }]
  ]
}
